In [7]:
import pandas as pd
import numpy as np

In [5]:
view_count_df = pd.read_csv('videoList_final.csv').loc[:,['영화 제목', '조회수']]
view_count_df.rename(columns={'영화 제목': '영화명'}, inplace=True)
view_count_df

              영화명    조회수
0       가장 보통의 연애  88459
1       가장 보통의 연애  67447
2       가장 보통의 연애  65206
3       가장 보통의 연애  62709
4       가장 보통의 연애  27930
..            ...    ...
945  힘을 내요, 미스터 리   8006
946  힘을 내요, 미스터 리   4645
947  힘을 내요, 미스터 리   4507
948  힘을 내요, 미스터 리   2922
949  힘을 내요, 미스터 리   2905

[950 rows x 2 columns]

In [45]:
view_count_sum = view_count_df.groupby('영화명').apply(lambda x: np.sum(x['조회수']))
view_count_mean = view_count_df.groupby('영화명').apply(lambda x: np.mean(x['조회수']))

In [46]:
view_count_stat = pd.DataFrame(columns=['영화명', '조회수 합', '조회수 평균'])
view_count_stat['영화명'] = view_count_sum.index
view_count_stat['조회수 합'] = view_count_sum.values
view_count_stat['조회수 평균'] = view_count_mean.values
view_count_stat

             영화명    조회수 합    조회수 평균
0          #살아있다  2955998  295599.8
1           1917   787714   78771.4
2       82년생 김지영  3722539  372253.9
3      가장 보통의 연애   396635   39663.5
4     강철비2: 정상회담  2405868  240586.8
..           ...      ...       ...
90     프리즌 이스케이프  3479761  347976.1
91    항거:유관순 이야기   669208   66920.8
92         해치지않아   537360   53736.0
93           히트맨   509315   50931.5
94  힘을 내요, 미스터 리   214374   21437.4

[95 rows x 3 columns]

In [47]:
view_count_stat.to_csv('view_count_state.csv', encoding='utf-8-sig')